<!-- Api search results -->
<h4 class="sub-heading my-4">Our Meal(s) based on your search</h4>
<% if(apiMeals != null) { %>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
      <% apiMeals.forEach(meal => { %>
        <div class="col text-center category__link">
          <a href="/categories/<%= meal.strCategory %>/<%= meal.idMeal %>" class="text-deco">
            <div class="category__img shadow" style="height: 150px;">
              <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>">
            </div>
            <div class="pt-1"><b><%= meal.strMeal %></b></div>
          </a>
        </div>
      <% }) %>
    </div>
    <% } else { %>
        <p>Sorry we do not have any meals and recipe with the search term "<%= searchtext %>"</p>
    <% } %>

<!-- Db search results -->
<h4 class="sub-heading my-4">Our Users Meal(s) based on your search</h4>
<% if(dbMeals != '') { %>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
      <% dbMeals.forEach(meal => { %>
        <div class="col text-center category__link">
          <a href="/user/meal/<%- meal._id %>" class="text-deco">
            <div class="category__img shadow" style="height: 150px;">
              <img src="/uploads/<%= meal.image %>" alt="<%= meal.mealName %>">
            </div>
            <div class="pt-1"><b><%= meal.mealName %></b></div>
          </a>
        </div>
      <% }) %>
    </div>
    <% } else { %>
    <p>Sorry we do not have any meals and recipe with the search term "<%= searchtext %>"</p>
    <% } %>

