<div class="px-4 py-5 my-2 text-center">
  <h1 class="display-5 fw-bold">Recipes by Our Users</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Enjoy a nutrious list of recipes from our lovely users</p>
  </div>
</div>


    <!-- Meals -->
    <% if(meals != '') { %>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-2">
      <% meals.forEach(meal => { %>
        <div class="col text-center category__link">
          <a href="/user/meal/<%=meal._id%>" class="text-deco">
            <div class="category__img shadow" style="height: 150px;">
              <img src="/uploads/<%= meal.image %>" alt="<%= meal.mealName %>">
            </div>
            <div class="pt-1"><b><%= meal.mealName %></b></div>
          </a>
        </div>
      <% }) %>
    </div>

    <nav class="d-flex justify-content-center my-2">
      <ul class="pagination">
        <% for (let pageNo=1; pageNo <= pages; pageNo++) { %>
          <% if(pageNo == currentPage){ %>
            <li class="page-item active">
                <a class="page-link" href="?page=<%=pageNo%>"> <%=pageNo%> </a>
            </li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="?page=<%=pageNo%>"><%=pageNo%></a></li>
          <% } %>  
        <% } %>
      </ul>
    </nav>

    <% } else { %>
    <p>No meals Yet</p>
    <% } %>
